body {
}
.mytabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
	margin: 50px auto;
	padding: 25px;
}
.mytabs input[type="radio"] {
	display: none;
}
.mytabs label {
	padding: 25px;
	font-weight: bold;
}
.mytabs .tab {
	width: 100%;
	padding: 20px;
	order: 1;
	display: none;
}
.mytabs input[type="radio"]:checked + label + .tab {
	display: block;
}
.mytabs input[type="radio"]:checked + label {

}
