body {
	background-color: #f5f5f5;
}
.mytabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 1500px;
	margin: 10px auto;
	padding: 25px;
}
.mytabs input[type="radio"] {
	display: none;
}
.mytabs label {
	padding: 25px;
	font-weight: bold;
	background-color: #ccc;
}
.mytabs .tab {
	width: 100%;
	padding: 20px;
	order: 1;
	display: none;
	background-color: #fff;
}
.mytabs input[type="radio"]:checked + label + .tab {
	display: block;
}
.mytabs input[type="radio"]:checked + label {
	background-color: #fff;
}

/* Project stuff */
.project-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
    font-style: normal; /* Ensure the parent is not overriding the child */
}

.project-type {
    font-style: italic;
}

.project-description {
    margin-bottom: 20px;
}